<!-- userinfo.handlebars -->

<div class="jumbotron">
  <h1 class="display-4">Hello {{name}}!</h1>
  <p class="lead">This is the user info page. It contains the new JWT issued by Auth0 when you logged in and your user id.</p>
  <hr class="my-4">
  <p>JWT:</p>
  <ul>
  	<li>{{jwt}}</li>
  </ul>
  <p>User ID:</p>
  <ul>
  	<li>{{id}}</li>
  </ul>
  <a class="btn btn-primary btn-lg" href="/" role="button">Return to Login</a>
</div>